@import "properties.css";

.SpiritualUiButton-base {
  border-radius: var(--radius);
  border: none;
  padding: var(--padding);
  margin: var(--margin);
  font-weight: bold;
  text-transform: uppercase;
}

.SpiritualUiButton-contained {
  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/Nesting_selector
   */
  &.SpiritualUiButton-primary {
    background-color: var(--primary-main-color);
    color: var(--primary-contrast-color);
    &:hover {
      background-color: var(--primary-dark-color);
      box-shadow: 0 2px 10px -4px black;
    }
  }
  &.SpiritualUiButton-secondary {
    background-color: var(--secondary-main-color);
    color: var(--secondary-contrast-color);
    &:hover {
      background-color: var(--secondary-dark-color);
      box-shadow: 0 2px 10px -4px black;
    }
  }
}

.SpiritualUiButton-outlined {
  &.SpiritualUiButton-primary {
    background-color: var(--primary-contrast-color);
    color: var(--primary-main-color);
    border: 1px solid var(--primary-main-color);
    &:hover {
      background-color: color-mix(
              in srgb,
              var(--primary-light-color),
              transparent 95%
      );
    }
  }
  &.SpiritualUiButton-secondary {
    background-color: var(--secondary-contrast-color);
    color: var(--secondary-main-color);
    border: 1px solid var(--secondary-main-color);
    &:hover {
      background-color: color-mix(
              in srgb,
              var(--secondary-light-color),
              transparent 95%
      );
    }
  }
}

.SpiritualUiButton-text {
  &.SpiritualUiButton-primary {
    background-color: var(--primary-contrast-color);
    color: var(--primary-main-color);
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--primary-light-color),
        transparent 95%
      );
    }
  }
  &.SpiritualUiButton-secondary {
    background-color: var(--secondary-contrast-color);
    color: var(--secondary-main-color);
    &:hover {
      background-color: color-mix(
        in srgb,
        var(--secondary-light-color),
        transparent 95%
      );
    }
  }
}
