@import "../common/properties.css";

@property --radius {
  syntax: "*";
  inherits: false;
}

@property --padding {
  syntax: "*";
  inherits: false;
}

@property --margin {
  syntax: "*";
  inherits: false;
}
